@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-image: url('/bg.jpg');
  --main-background: rgba(35, 31, 62, 0.789);
  --button-shadow-color: #33f68e;
  --font-color: #fff;
  --toggle-background: rgba(106, 103, 103, 0.85);
  --inner-screen: #0323474c;
  --toggle-circle: rgb(188, 246, 230);
  --button-background: rgb(19, 17, 34);
  --font-Poppins: 'Poppins', sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
  background: var(--background-image) center;
  background-image: no-repeat;
  background-size: cover;
  position: relative;
  font-family: var(--font-Poppins);
  transition: 0.3s ease;

}

body.light {
  #root {
    --background-image: url('/bg-light.jpg');
    --main-background: rgba(176, 176, 176, 0.789);
    --button-shadow-color: #33f68e;
    --font-color: #222121;
    --toggle-background: rgba(255, 255, 255, 0.85);
    --inner-screen: #7bb9ff4c;
    --toggle-circle: rgb(245, 26, 212);
    --button-background: rgb(246, 246, 247);
  }
}

header {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
  width: 80px;
  height: 30px;
  border-radius: 30px;
  padding: 5px 8px 10px;
  background: var(--toggle-background);
  transition: 0.4s linear;
}


.circle {
  background: var(--toggle-circle);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: 0.3s linear;
}

body.light .circle {
  transform: translateX(45px);
}


main {
  width: 100%;
  height: 100vh;
  max-width: 700px;
  background: var(--main-background);
  backdrop-filter: blur(15px);
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}


.inner-screen {
  padding: 30px;
  position: relative;
  font-size: 1.6rem;
  flex-basis: 10%;
  font-weight: 700;
  text-align: right;
  background: var(--inner-screen);
  border-radius: 5px 5px 0 0;
}



.button--wrapper {
  display: grid;
  padding: 25px;
  grid-template-columns: repeat(4, 1fr);
  flex: 1;
  gap: 1rem;
  place-items: center;
}


.btn {
  border-radius: 20px;
  padding: 10px 14px;
  height: 60%;
  width: 100%;
  box-shadow: 1.5px 1.5px 0px 1.5px var(--button-shadow-color);
  border: none;
  outline: none;
  font-size: 1.4rem;
  color: var(--font-color);
  background: var(--button-background);
  transition: 0.2s linear;
}

.func {
  --button-shadow-color: #f35779;
}

.btn:active {
  box-shadow: none;
  transform: translate(2px, 4px);
}


button,
button:active,
a:active,
a {
  -webkit-tap-highlight-color: transparent;
}


@media (hover:hover) {
  button {
    cursor: pointer;
  }
}


@media Screen and (min-width: 700px) {
  #root {
    justify-content: center;
    align-items: center;
  }

  main {
    height: fit-content;
  }

  .inner-screen {
    flex-basis: 100%;
  }

  .button--wrapper {
    place-items: start;
  }

  .btn {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 27px;
  }

}


@media Screen and (max-width: 700px) {
  header {
    z-index: 444;
    left: 10px;
    top: 15px;
    transform: scale(0.7);
  }
}